hub.json
[{"id":"b136349b.dcee98","type":"subflow","name":"wihome hub","info":"","category":"network-input","in":[{"x":160,"y":80,"wires":[{"id":"2a57643a.944374"}]}],"out":[],"env":[],"icon":"node-red/leveldb.png"},{"id":"a1ccc16e.f83ed","type":"udp in","z":"b136349b.dcee98","name":"","iface":"","port":"24557","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":200,"y":180,"wires":[["c249ccb6.2250f"]]},{"id":"c249ccb6.2250f","type":"json","z":"b136349b.dcee98","name":"","property":"payload","action":"","pretty":false,"x":350,"y":180,"wires":[["d005cb3c.d52d7"]]},{"id":"d005cb3c.d52d7","type":"function","z":"b136349b.dcee98","name":"hubid","func":"if (msg.payload.cmd==\"findhub\")\n{\n    msg.client=msg.payload.client;\n    msg.payload={\"cmd\":\"hubid\"};\n    var clients = global.get(\"clients\")||{};\n    clients[msg.client] = msg.ip;\n    global.set(\"clients\",clients);\n    return msg;\n}","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["680f96e6.ecd818"]]},{"id":"e69f8789.9a324","type":"udp out","z":"b136349b.dcee98","name":"","addr":"","iface":"","port":"24557","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":790,"y":180,"wires":[]},{"id":"680f96e6.ecd818","type":"json","z":"b136349b.dcee98","name":"","property":"payload","action":"","pretty":false,"x":630,"y":180,"wires":[["e69f8789.9a324"]]},{"id":"a7e93103.9f0bc","type":"comment","z":"b136349b.dcee98","name":"Hub Discovery Responder","info":"","x":250,"y":140,"wires":[]},{"id":"96a77340.bf59b8","type":"comment","z":"b136349b.dcee98","name":"Client Discovery Receiver","info":"","x":250,"y":240,"wires":[]},{"id":"6ab27708.28f7e","type":"udp in","z":"b136349b.dcee98","name":"","iface":"","port":"24557","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":200,"y":300,"wires":[["347544f5.65633c"]]},{"id":"347544f5.65633c","type":"json","z":"b136349b.dcee98","name":"","property":"payload","action":"","pretty":false,"x":350,"y":300,"wires":[["c7bb4929.664738"]]},{"id":"c7bb4929.664738","type":"function","z":"b136349b.dcee98","name":"clientid","func":"var clients = global.get(\"clients\")||{};\nif (msg.payload.cmd==\"clientid\")\n{\n    clients[msg.payload.client] = msg.ip;\n    global.set(\"clients\",clients);\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":500,"y":300,"wires":[[]]},{"id":"2a57643a.944374","type":"change","z":"b136349b.dcee98","name":"","rules":[{"t":"delete","p":"clients","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":80,"wires":[[]]},{"id":"4cde9646.a68588","type":"subflow:b136349b.dcee98","z":"9d0260c2.c0708","name":"","env":[],"x":460,"y":240,"wires":[]}]