in.json
[{"id":"219affd1.8c5b5","type":"subflow","name":"wihome in","info":"","category":"input","in":[],"out":[{"x":1060,"y":800,"wires":[{"id":"804ddf97.c3456","port":0}]}],"env":[{"name":"client","type":"str","value":""},{"name":"channel","type":"num","value":"0"}],"icon":"node-red/bridge-dash.png"},{"id":"55f2c57a.ae0d6c","type":"udp in","z":"219affd1.8c5b5","name":"","iface":"","port":"24557","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":220,"y":800,"wires":[["7bab5d39.e9d7e4"]]},{"id":"7bab5d39.e9d7e4","type":"json","z":"219affd1.8c5b5","name":"","property":"payload","action":"","pretty":false,"x":370,"y":800,"wires":[["ccf23351.5420a"]]},{"id":"ccf23351.5420a","type":"change","z":"219affd1.8c5b5","name":"move client","rules":[{"t":"set","p":"client","pt":"msg","to":"payload.client","tot":"msg"},{"t":"delete","p":"payload.client","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":800,"wires":[["d09b3e7e.475798"]]},{"id":"d09b3e7e.475798","type":"switch","z":"219affd1.8c5b5","name":"check client","property":"client","propertyType":"msg","rules":[{"t":"eq","v":"client","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":800,"wires":[["804ddf97.c3456"]]},{"id":"804ddf97.c3456","type":"function","z":"219affd1.8c5b5","name":"WiHome2Homekit","func":"if (msg.payload.cmd==\"info\" && msg.payload.parameter==\"relay\")\n{\n    if (msg.payload.channel==env.get(\"channel\") || !msg.payload.hasOwnProperty(\"channel\"))\n        msg.payload={\"On\":(msg.payload.value==1)};\n    else\n        msg=null;\n    return msg;\n}","outputs":1,"noerr":0,"x":910,"y":800,"wires":[[]]},{"id":"413cdb.b8310324","type":"subflow:219affd1.8c5b5","z":"b45ae855.355888","name":"","env":[{"name":"client","type":"str","value":"wihomeDEV2"}],"x":240,"y":240,"wires":[["6c3dfc6.1a1b604","bdbe9007.d0b3c"]]}]