out.json
[{"id":"257bd7b6.149598","type":"subflow","name":"wihome out","info":"","category":"output","in":[{"x":260,"y":700,"wires":[{"id":"f7532e15.b5fc28"}]}],"out":[],"env":[{"name":"client","type":"str","value":""},{"name":"channel","type":"num","value":"0"}],"icon":"node-red/bridge-dash.png"},{"id":"88ef97ad.59474","type":"function","z":"257bd7b6.149598","name":"","func":"var clients = global.get(\"clients\")||{};\nif (\"client\" in msg)\n{\n    // If client entry cannot be found in client \n    // table, return message for broadcast \n    // discovery on output #1\n    if (!(msg.client in clients))\n    {\n        var msg2 = {}\n        msg2.payload = \n        {\n            \"cmd\":\"findclient\",\n            \"client\":msg.client\n        };\n        if (!(\"repeat\" in msg))\n            msg.repeat=0;\n        else\n            msg.repeat++;\n        if (msg.repeat<3)\n            return [msg, msg2, null];\n    }\n    // If client entry could be found in client table, \n    // add ip to msg and return on output #2\n    else\n    {\n        msg.ip = clients[msg.client];\n        return [null, null, msg];\n    }\n}","outputs":3,"noerr":0,"x":590,"y":700,"wires":[["7b6a6805.0bb8b"],["3d806112.aa39be"],["8f53f8bb.2159f8"]]},{"id":"3d806112.aa39be","type":"json","z":"257bd7b6.149598","name":"","property":"payload","action":"","pretty":false,"x":770,"y":640,"wires":[["9bd87b77.a684d8"]]},{"id":"9bd87b77.a684d8","type":"udp out","z":"257bd7b6.149598","name":"","addr":"192.168.0.255","iface":"","port":"24558","ipv":"udp4","outport":"","base64":false,"multicast":"broad","x":970,"y":640,"wires":[]},{"id":"7b6a6805.0bb8b","type":"delay","z":"257bd7b6.149598","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":620,"wires":[["88ef97ad.59474"]]},{"id":"8f53f8bb.2159f8","type":"json","z":"257bd7b6.149598","name":"","property":"payload","action":"","pretty":false,"x":770,"y":720,"wires":[["505008.73e7b7f8"]]},{"id":"505008.73e7b7f8","type":"udp out","z":"257bd7b6.149598","name":"","addr":"","iface":"","port":"24557","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":930,"y":720,"wires":[]},{"id":"f7532e15.b5fc28","type":"function","z":"257bd7b6.149598","name":"set relay","func":"msg.payload = \n{\n    \"cmd\":\"set\",\n    \"parameter\":\"relay\",\n    \"value\":(msg.payload.On ? 1 : 0),\n    \"channel\":env.get(\"channel\")\n};\nmsg.client = env.get(\"client\");\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":700,"wires":[["88ef97ad.59474"]]},{"id":"b3970bb2.dc4598","type":"subflow:257bd7b6.149598","z":"b45ae855.355888","name":"","env":[{"name":"client","type":"str","value":"wihomeDEV2"}],"x":690,"y":240,"wires":[]}]