WiHome.json
[{"id":"9d0260c2.c0708","type":"tab","label":"WiHome Common","disabled":false,"info":""},{"id":"6f969cd4.74fa74","type":"tab","label":"WiHome Switches","disabled":false,"info":""},{"id":"5bd08e59.ffef9","type":"tab","label":"WiHome GateOpener","disabled":false,"info":""},{"id":"b45ae855.355888","type":"tab","label":"WiHome DEV","disabled":false,"info":""},{"id":"257bd7b6.149598","type":"subflow","name":"wihome out","info":"","category":"output","in":[{"x":140,"y":700,"wires":[{"id":"f7532e15.b5fc28"}]}],"out":[],"env":[{"name":"client","type":"str","value":""}],"icon":"node-red/bridge-dash.png"},{"id":"219affd1.8c5b5","type":"subflow","name":"wihome in","info":"","category":"input","in":[],"out":[{"x":1060,"y":800,"wires":[{"id":"804ddf97.c3456","port":0}]}],"env":[{"name":"client","type":"str","value":""}],"icon":"node-red/bridge-dash.png"},{"id":"7ea69e4e.ee9ba8","type":"subflow","name":"wihome in raw","info":"","category":"","in":[],"out":[{"x":840,"y":320,"wires":[{"id":"1bb5ce27.112652","port":0}]}],"env":[{"name":"client","type":"str","value":""}],"icon":"node-red/bridge-dash.png"},{"id":"e479f0d4.3a86b","type":"subflow","name":"wihome out raw","info":"","category":"","in":[{"x":260,"y":460,"wires":[{"id":"cb92104f.6b1d"}]}],"out":[],"env":[{"name":"client","type":"str","value":""}],"icon":"node-red/bridge-dash.png"},{"id":"723e6a43.7138b4","type":"subflow","name":"Scrolling Text","info":"","category":"","in":[{"x":200,"y":240,"wires":[{"id":"42324690.c467e8"}]}],"out":[],"env":[]},{"id":"8a6456ae.d039d8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#FF8800","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#FF8800","edited":true},"page-titlebar-backgroundColor":{"value":"#FF8800","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ffac4d","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#ff8800","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"WiHome","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"af5fc8b4.2ec308","type":"homekit-bridge","z":"","bridgeName":"WiHome Bridge","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true},{"id":"1d5ce3cf.ea1f1c","type":"mqtt-broker","z":"","name":"MosquittoLocal","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"9a5a4187.4832a","type":"ui_tab","z":"","name":"Gate","icon":"drive_eta","order":3},{"id":"886a4dcd.97b18","type":"ui_group","z":"","name":"Control","tab":"9a5a4187.4832a","order":1,"disp":true,"width":"6","collapse":false},{"id":"2c46ff86.a6ef68","type":"ui_group","z":"","name":"Gate Opener Settings","tab":"865c723f.e5e318","order":2,"disp":true,"width":"6","collapse":false},{"id":"865c723f.e5e318","type":"ui_tab","z":"","name":"Homekit","icon":"settings","order":4,"disabled":false,"hidden":false},{"id":"1a067be.c3c7a04","type":"ui_spacer","name":"spacer","group":"886a4dcd.97b18","order":14,"width":"0","height":"0"},{"id":"1fc562fb.907edd","type":"ui_spacer","name":"spacer","group":"886a4dcd.97b18","order":17,"width":"6","height":1},{"id":"f13aa4d4.6dbe","type":"ui_group","z":"","name":"LAB","tab":"cc54ac4e.b0a458","order":3,"disp":false,"width":"6","collapse":false},{"id":"cc54ac4e.b0a458","type":"ui_tab","z":"","name":"Table","icon":"dashboard"},{"id":"88ef97ad.59474","type":"function","z":"257bd7b6.149598","name":"","func":"var clients = global.get(\"clients\")||{};\nif (\"client\" in msg)\n{\n    // If client entry cannot be found in client \n    // table, return message for broadcast \n    // discovery on output #1\n    if (!(msg.client in clients))\n    {\n        var msg2 = {}\n        msg2.payload = \n        {\n            \"cmd\":\"findclient\",\n            \"client\":msg.client\n        };\n        if (!(\"repeat\" in msg))\n            msg.repeat=0;\n        else\n            msg.repeat++;\n        if (msg.repeat<3)\n            return [msg, msg2, null];\n    }\n    // If client entry could be found in client table, \n    // add ip to msg and return on output #2\n    else\n    {\n        msg.ip = clients[msg.client];\n        return [null, null, msg];\n    }\n}","outputs":3,"noerr":0,"x":590,"y":700,"wires":[["7b6a6805.0bb8b"],["3d806112.aa39be"],["8f53f8bb.2159f8"]]},{"id":"3d806112.aa39be","type":"json","z":"257bd7b6.149598","name":"","property":"payload","action":"","pretty":false,"x":770,"y":640,"wires":[["9bd87b77.a684d8"]]},{"id":"9bd87b77.a684d8","type":"udp out","z":"257bd7b6.149598","name":"","addr":"192.168.0.255","iface":"","port":"24558","ipv":"udp4","outport":"","base64":false,"multicast":"broad","x":970,"y":640,"wires":[]},{"id":"7b6a6805.0bb8b","type":"delay","z":"257bd7b6.149598","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":620,"wires":[["88ef97ad.59474"]]},{"id":"8f53f8bb.2159f8","type":"json","z":"257bd7b6.149598","name":"","property":"payload","action":"","pretty":false,"x":770,"y":720,"wires":[["505008.73e7b7f8"]]},{"id":"505008.73e7b7f8","type":"udp out","z":"257bd7b6.149598","name":"","addr":"","iface":"","port":"24557","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":930,"y":720,"wires":[]},{"id":"55f2c57a.ae0d6c","type":"udp in","z":"219affd1.8c5b5","name":"","iface":"","port":"24557","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":220,"y":800,"wires":[["7bab5d39.e9d7e4"]]},{"id":"7bab5d39.e9d7e4","type":"json","z":"219affd1.8c5b5","name":"","property":"payload","action":"","pretty":false,"x":370,"y":800,"wires":[["ccf23351.5420a"]]},{"id":"ccf23351.5420a","type":"change","z":"219affd1.8c5b5","name":"move client","rules":[{"t":"set","p":"client","pt":"msg","to":"payload.client","tot":"msg"},{"t":"delete","p":"payload.client","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":800,"wires":[["d09b3e7e.475798"]]},{"id":"772093d6.387064","type":"comment","z":"6f969cd4.74fa74","name":"Shack","info":"","x":110,"y":60,"wires":[]},{"id":"edd5acf8.1f31b","type":"subflow:257bd7b6.149598","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome4"}],"x":710,"y":300,"wires":[]},{"id":"c36d8a94.1b77c8","type":"subflow:219affd1.8c5b5","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome4"}],"x":320,"y":300,"wires":[["78863e79.add41"]]},{"id":"64149409.f6b31c","type":"subflow:257bd7b6.149598","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome7"}],"x":710,"y":420,"wires":[]},{"id":"18be41d1.83ed26","type":"subflow:219affd1.8c5b5","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome7"}],"x":320,"y":420,"wires":[["9dc1e016.2787f"]]},{"id":"5779956.f89a66c","type":"subflow:219affd1.8c5b5","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome2"}],"x":320,"y":780,"wires":[["2a4e3eac.2181ca"]]},{"id":"258b5eeb.ae89f2","type":"subflow:257bd7b6.149598","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome2"}],"x":710,"y":780,"wires":[]},{"id":"e5ce3bbf.154bf8","type":"subflow:219affd1.8c5b5","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome5"}],"x":320,"y":840,"wires":[["2a4e3eac.2181ca"]]},{"id":"1ec36b35.f26155","type":"subflow:257bd7b6.149598","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome5"}],"x":710,"y":840,"wires":[]},{"id":"369f3b84.7710cc","type":"subflow:219affd1.8c5b5","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome6"}],"x":320,"y":900,"wires":[["2a4e3eac.2181ca"]]},{"id":"5b80dbb.498aba4","type":"subflow:257bd7b6.149598","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome6"}],"x":710,"y":900,"wires":[]},{"id":"69f3f100.d8c09","type":"subflow:219affd1.8c5b5","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome1"}],"x":320,"y":120,"wires":[["a9737a82.c1ed48"]]},{"id":"a0991a95.a4f088","type":"subflow:257bd7b6.149598","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome1"}],"x":710,"y":120,"wires":[]},{"id":"3894bf27.4dc39","type":"subflow:257bd7b6.149598","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome3"}],"x":730,"y":1020,"wires":[]},{"id":"6a0f6aa7.33fa0c","type":"subflow:219affd1.8c5b5","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome3"}],"x":320,"y":1020,"wires":[["b397d045.993728"]]},{"id":"4f39f5cc.700334","type":"bigtimer","z":"6f969cd4.74fa74","outtopic":"","outpayload1":"1","outpayload2":"0","name":"Dusk to Dawn timer","lat":"28.799220","lon":" -81.574685","starttime":5001,"endtime":"5000","startoff":0,"endoff":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":450,"y":1100,"wires":[["ffd538fd.5f4e38"],[],[]]},{"id":"ffd538fd.5f4e38","type":"function","z":"6f969cd4.74fa74","name":"Timer2Homekit","func":"msg.payload = \n{\n    \"On\":(msg.payload==1)\n};\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1100,"wires":[["3894bf27.4dc39"]]},{"id":"b8dfd3d0.034058","type":"function","z":"6f969cd4.74fa74","name":"Homekit2Timer","func":"if (msg.payload.On)\n    msg.payload=\"auto\";\nelse\n    msg.payload=\"manual\";\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1180,"wires":[["4f39f5cc.700334"]]},{"id":"adc4ccba.a61aa8","type":"subflow:219affd1.8c5b5","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome8"}],"x":320,"y":1320,"wires":[["2823e8e0.9ff7d"]]},{"id":"59105b7f.9a311c","type":"subflow:257bd7b6.149598","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome8"}],"x":710,"y":1320,"wires":[]},{"id":"f2d6bab2.ab0338","type":"subflow:219affd1.8c5b5","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome9"}],"x":320,"y":540,"wires":[["dc7d022.be3b7"]]},{"id":"2692750a.925c52","type":"subflow:219affd1.8c5b5","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome10"}],"x":320,"y":600,"wires":[["f805c9d6.7dc3f8"]]},{"id":"3a8df3a3.fb669c","type":"subflow:219affd1.8c5b5","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome11"}],"x":320,"y":660,"wires":[["f805c9d6.7dc3f8"]]},{"id":"8901feec.a9b238","type":"subflow:257bd7b6.149598","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome9"}],"x":710,"y":540,"wires":[]},{"id":"1fa6c53.845763b","type":"subflow:257bd7b6.149598","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome10"}],"x":710,"y":600,"wires":[]},{"id":"4a00bbe.6317fc4","type":"subflow:257bd7b6.149598","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome11"}],"x":710,"y":660,"wires":[]},{"id":"df1cf91e.f4b13","type":"subflow:219affd1.8c5b5","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome12"}],"x":320,"y":1380,"wires":[["ff6b3958.d39ba8"]]},{"id":"d128e875.e12878","type":"subflow:219affd1.8c5b5","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome13"}],"x":320,"y":1440,"wires":[["b39528f8.cafbd"]]},{"id":"63f44655.a79a58","type":"subflow:219affd1.8c5b5","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome14"}],"x":320,"y":1500,"wires":[["14956b4c.99e83d"]]},{"id":"18b2cad2.a6db4d","type":"subflow:219affd1.8c5b5","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome15"}],"x":320,"y":1560,"wires":[["7893a3ee.eaf434"]]},{"id":"cad3cecd.8df5f","type":"subflow:257bd7b6.149598","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome12"}],"x":710,"y":1380,"wires":[]},{"id":"eab05bfe.5b129","type":"subflow:257bd7b6.149598","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome13"}],"x":710,"y":1440,"wires":[]},{"id":"f89122ab.993e4","type":"subflow:257bd7b6.149598","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome14"}],"x":710,"y":1500,"wires":[]},{"id":"e18ea898.fb5d18","type":"subflow:257bd7b6.149598","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome15"}],"x":710,"y":1560,"wires":[]},{"id":"4dbea68e.49bce","type":"subflow:219affd1.8c5b5","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihomeb0"}],"x":320,"y":180,"wires":[["1a17fe5.5149682"]]},{"id":"a6a719e4.923d18","type":"subflow:257bd7b6.149598","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihomeb0"}],"x":710,"y":180,"wires":[]},{"id":"834cff2e.de1bb","type":"debug","z":"5bd08e59.ffef9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":820,"wires":[]},{"id":"a1ccc16e.f83ed","type":"udp in","z":"9d0260c2.c0708","name":"","iface":"","port":"24557","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":160,"y":220,"wires":[["c249ccb6.2250f"]]},{"id":"c249ccb6.2250f","type":"json","z":"9d0260c2.c0708","name":"","property":"payload","action":"","pretty":false,"x":310,"y":220,"wires":[["d005cb3c.d52d7"]]},{"id":"d005cb3c.d52d7","type":"function","z":"9d0260c2.c0708","name":"hubid","func":"if (msg.payload.cmd==\"findhub\")\n{\n    msg.client=msg.payload.client;\n    msg.payload={\"cmd\":\"hubid\"};\n    var clients = global.get(\"clients\")||{};\n    clients[msg.client] = msg.ip;\n    global.set(\"clients\",clients);\n    return msg;\n}","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["680f96e6.ecd818"]]},{"id":"e69f8789.9a324","type":"udp out","z":"9d0260c2.c0708","name":"","addr":"","iface":"","port":"24557","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":750,"y":220,"wires":[]},{"id":"680f96e6.ecd818","type":"json","z":"9d0260c2.c0708","name":"","property":"payload","action":"","pretty":false,"x":590,"y":220,"wires":[["e69f8789.9a324"]]},{"id":"a7e93103.9f0bc","type":"comment","z":"9d0260c2.c0708","name":"Hub Discovery Responder","info":"","x":210,"y":180,"wires":[]},{"id":"96a77340.bf59b8","type":"comment","z":"9d0260c2.c0708","name":"Client Discovery Receiver","info":"","x":210,"y":280,"wires":[]},{"id":"6ab27708.28f7e","type":"udp in","z":"9d0260c2.c0708","name":"","iface":"","port":"24557","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":160,"y":340,"wires":[["347544f5.65633c"]]},{"id":"347544f5.65633c","type":"json","z":"9d0260c2.c0708","name":"","property":"payload","action":"","pretty":false,"x":310,"y":340,"wires":[["c7bb4929.664738"]]},{"id":"c7bb4929.664738","type":"function","z":"9d0260c2.c0708","name":"clientid","func":"var clients = global.get(\"clients\")||{};\nif (msg.payload.cmd==\"clientid\")\n{\n    clients[msg.payload.client] = msg.ip;\n    global.set(\"clients\",clients);\n    msg.payload = true;\n    return msg;\n}","outputs":1,"noerr":0,"x":460,"y":340,"wires":[[]]},{"id":"2a57643a.944374","type":"change","z":"9d0260c2.c0708","name":"","rules":[{"t":"delete","p":"clients","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":120,"wires":[[]]},{"id":"d90b7de7.b97b8","type":"inject","z":"9d0260c2.c0708","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":120,"wires":[["2a57643a.944374"]]},{"id":"d09b3e7e.475798","type":"switch","z":"219affd1.8c5b5","name":"check client","property":"client","propertyType":"msg","rules":[{"t":"eq","v":"client","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":800,"wires":[["804ddf97.c3456"]]},{"id":"804ddf97.c3456","type":"function","z":"219affd1.8c5b5","name":"WiHome2Homekit","func":"if (msg.payload.cmd==\"info\" && msg.payload.parameter==\"relay\")\n{\n    msg.payload={\"On\":(msg.payload.value==1)};\n    return msg;\n}","outputs":1,"noerr":0,"x":910,"y":800,"wires":[[]]},{"id":"72f41646.bde71","type":"change","z":"257bd7b6.149598","name":"set client","rules":[{"t":"set","p":"client","pt":"msg","to":"client","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":700,"wires":[["88ef97ad.59474"]]},{"id":"f7532e15.b5fc28","type":"function","z":"257bd7b6.149598","name":"set relay","func":"msg.payload = \n{\n    \"cmd\":\"set\",\n    \"parameter\":\"relay\",\n    \"value\":(msg.payload.On ? 1 : 0)\n};\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":700,"wires":[["72f41646.bde71"]]},{"id":"a9737a82.c1ed48","type":"homekit-service","z":"6f969cd4.74fa74","isParent":true,"bridge":"af5fc8b4.2ec308","parentService":"","name":"Ceiling Light","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":510,"y":120,"wires":[["a0991a95.a4f088"]]},{"id":"78863e79.add41","type":"homekit-service","z":"6f969cd4.74fa74","isParent":true,"bridge":"af5fc8b4.2ec308","parentService":"","name":"Ceiling Light","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":510,"y":300,"wires":[["edd5acf8.1f31b"]]},{"id":"9dc1e016.2787f","type":"homekit-service","z":"6f969cd4.74fa74","isParent":true,"bridge":"af5fc8b4.2ec308","parentService":"","name":"Ceiling Light","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":510,"y":420,"wires":[["64149409.f6b31c"]]},{"id":"1a17fe5.5149682","type":"homekit-service","z":"6f969cd4.74fa74","isParent":true,"bridge":"af5fc8b4.2ec308","parentService":"","name":"Workbench Light","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":510,"y":180,"wires":[["a6a719e4.923d18"]]},{"id":"2c048a4.0b8a276","type":"comment","z":"6f969cd4.74fa74","name":"Master Bedroom","info":"","x":140,"y":240,"wires":[]},{"id":"f15ef339.4d7af","type":"comment","z":"6f969cd4.74fa74","name":"Guest Bathroom","info":"","x":140,"y":360,"wires":[]},{"id":"a700e7d4.deac78","type":"comment","z":"6f969cd4.74fa74","name":"Kitchen","info":"","x":110,"y":480,"wires":[]},{"id":"dc7d022.be3b7","type":"homekit-service","z":"6f969cd4.74fa74","isParent":true,"bridge":"af5fc8b4.2ec308","parentService":"","name":"Small Light","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":510,"y":540,"wires":[["8901feec.a9b238"]]},{"id":"f805c9d6.7dc3f8","type":"homekit-service","z":"6f969cd4.74fa74","isParent":true,"bridge":"af5fc8b4.2ec308","parentService":"","name":"Large Light","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":510,"y":600,"wires":[["1fa6c53.845763b","4a00bbe.6317fc4"]]},{"id":"9d43905f.4ed7b8","type":"comment","z":"6f969cd4.74fa74","name":"Patio","info":"","x":110,"y":720,"wires":[]},{"id":"2a4e3eac.2181ca","type":"homekit-service","z":"6f969cd4.74fa74","isParent":true,"bridge":"af5fc8b4.2ec308","parentService":"","name":"Ceiling Light","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":510,"y":780,"wires":[["258b5eeb.ae89f2","1ec36b35.f26155","5b80dbb.498aba4"]]},{"id":"b397d045.993728","type":"homekit-service","z":"6f969cd4.74fa74","isParent":true,"bridge":"af5fc8b4.2ec308","parentService":"","name":"Outdoor Light","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":520,"y":1020,"wires":[["3894bf27.4dc39"]]},{"id":"7129eaa0.78513c","type":"comment","z":"6f969cd4.74fa74","name":"Tack Room","info":"","x":120,"y":960,"wires":[]},{"id":"ff6b3958.d39ba8","type":"homekit-service","z":"6f969cd4.74fa74","isParent":true,"bridge":"af5fc8b4.2ec308","parentService":"","name":"Ceiling Light","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":510,"y":1380,"wires":[["cad3cecd.8df5f"]]},{"id":"7893a3ee.eaf434","type":"homekit-service","z":"6f969cd4.74fa74","isParent":true,"bridge":"af5fc8b4.2ec308","parentService":"","name":"Mirror Gernot","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":520,"y":1560,"wires":[["e18ea898.fb5d18"]]},{"id":"2823e8e0.9ff7d","type":"homekit-service","z":"6f969cd4.74fa74","isParent":true,"bridge":"af5fc8b4.2ec308","parentService":"","name":"Mirror Nora","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":510,"y":1320,"wires":[["59105b7f.9a311c"]]},{"id":"b39528f8.cafbd","type":"homekit-service","z":"6f969cd4.74fa74","isParent":true,"bridge":"af5fc8b4.2ec308","parentService":"","name":"Fan","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":490,"y":1440,"wires":[["eab05bfe.5b129"]]},{"id":"14956b4c.99e83d","type":"homekit-service","z":"6f969cd4.74fa74","isParent":true,"bridge":"af5fc8b4.2ec308","parentService":"","name":"Tub Light","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":500,"y":1500,"wires":[["f89122ab.993e4"]]},{"id":"cf7da3e2.d4c12","type":"comment","z":"6f969cd4.74fa74","name":"Master Bathroom","info":"","x":140,"y":1260,"wires":[]},{"id":"b6efb330.6670e8","type":"subflow:219affd1.8c5b5","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome16"}],"x":320,"y":1620,"wires":[["83f5cf75.16953"]]},{"id":"a107771e.c687e8","type":"subflow:257bd7b6.149598","z":"6f969cd4.74fa74","name":"","env":[{"name":"client","type":"str","value":"wihome16"}],"x":710,"y":1620,"wires":[]},{"id":"83f5cf75.16953","type":"homekit-service","z":"6f969cd4.74fa74","isParent":true,"bridge":"af5fc8b4.2ec308","parentService":"","name":"Walk-In Closet","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":520,"y":1620,"wires":[["a107771e.c687e8"]]},{"id":"5e865cc8.121844","type":"comment","z":"6f969cd4.74fa74","name":"wihome16","info":"","x":160,"y":1620,"wires":[]},{"id":"29e46774.7a8678","type":"comment","z":"6f969cd4.74fa74","name":"wihome15","info":"","x":160,"y":1560,"wires":[]},{"id":"7a96398d.ea1018","type":"comment","z":"6f969cd4.74fa74","name":"wihome14","info":"","x":160,"y":1500,"wires":[]},{"id":"74cdfa9.74be184","type":"comment","z":"6f969cd4.74fa74","name":"wihome13","info":"","x":160,"y":1440,"wires":[]},{"id":"c46b1ff9.f4e37","type":"comment","z":"6f969cd4.74fa74","name":"wihome12","info":"","x":160,"y":1380,"wires":[]},{"id":"f321852a.db7678","type":"comment","z":"6f969cd4.74fa74","name":"wihome8","info":"","x":160,"y":1320,"wires":[]},{"id":"ca78a4e7.4a3668","type":"comment","z":"6f969cd4.74fa74","name":"wihome3","info":"","x":160,"y":1020,"wires":[]},{"id":"2486898c.1e425e","type":"comment","z":"6f969cd4.74fa74","name":"wihome1","info":"","x":160,"y":120,"wires":[]},{"id":"ba4b814e.e4bca8","type":"comment","z":"6f969cd4.74fa74","name":"wihomeb0","info":"","x":160,"y":180,"wires":[]},{"id":"e53e576a.1d2ab","type":"comment","z":"6f969cd4.74fa74","name":"wihome4","info":"","x":160,"y":300,"wires":[]},{"id":"39215197.5a425e","type":"comment","z":"6f969cd4.74fa74","name":"wihome7","info":"","x":160,"y":420,"wires":[]},{"id":"bf273f22.57e53","type":"comment","z":"6f969cd4.74fa74","name":"wihome9","info":"","x":160,"y":540,"wires":[]},{"id":"d7e3ef53.7cbb4","type":"comment","z":"6f969cd4.74fa74","name":"wihome10","info":"","x":160,"y":600,"wires":[]},{"id":"874061ae.60e188","type":"comment","z":"6f969cd4.74fa74","name":"wihome11","info":"","x":160,"y":660,"wires":[]},{"id":"7dbfe44e.6c6404","type":"comment","z":"6f969cd4.74fa74","name":"wihome2","info":"","x":160,"y":780,"wires":[]},{"id":"502f5803.85c57","type":"comment","z":"6f969cd4.74fa74","name":"wihome5","info":"","x":160,"y":840,"wires":[]},{"id":"8f6cbd52.8187c","type":"comment","z":"6f969cd4.74fa74","name":"wihome6","info":"","x":160,"y":900,"wires":[]},{"id":"a4fa015d.469b68","type":"udp in","z":"7ea69e4e.ee9ba8","name":"","iface":"","port":"24557","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":220,"y":320,"wires":[["262de6.19f8e21a"]]},{"id":"262de6.19f8e21a","type":"json","z":"7ea69e4e.ee9ba8","name":"","property":"payload","action":"","pretty":false,"x":370,"y":320,"wires":[["8163dac.c8830a8"]]},{"id":"8163dac.c8830a8","type":"change","z":"7ea69e4e.ee9ba8","name":"move client","rules":[{"t":"set","p":"client","pt":"msg","to":"payload.client","tot":"msg"},{"t":"delete","p":"payload.client","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":320,"wires":[["1bb5ce27.112652"]]},{"id":"1bb5ce27.112652","type":"switch","z":"7ea69e4e.ee9ba8","name":"check client","property":"client","propertyType":"msg","rules":[{"t":"eq","v":"client","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":320,"wires":[[]]},{"id":"726eabde.8f33f4","type":"subflow:7ea69e4e.ee9ba8","z":"5bd08e59.ffef9","name":"","env":[{"name":"client","type":"str","value":"wihome_go"}],"x":180,"y":820,"wires":[["834cff2e.de1bb","f8c624b8.005e5","38cfce82.f22bb2","f18486ab.137a3"]]},{"id":"6ae9c8b1.1fb598","type":"function","z":"e479f0d4.3a86b","name":"","func":"var clients = global.get(\"clients\")||{};\nif (\"client\" in msg)\n{\n    // If client entry cannot be found in client \n    // table, return message for broadcast \n    // discovery on output #1\n    if (!(msg.client in clients))\n    {\n        var msg2 = {}\n        msg2.payload = \n        {\n            \"cmd\":\"findclient\",\n            \"client\":msg.client\n        };\n        if (!(\"repeat\" in msg))\n            msg.repeat=0;\n        else\n            msg.repeat++;\n        if (msg.repeat<3)\n            return [msg, msg2, null];\n    }\n    // If client entry could be found in client table, \n    // add ip to msg and return on output #2\n    else\n    {\n        msg.ip = clients[msg.client];\n        return [null, null, msg];\n    }\n}","outputs":3,"noerr":0,"x":550,"y":460,"wires":[["c6afca90.4b8ab"],["1894f7a.efe5108"],["2c95d9c7.4545ee"]]},{"id":"1894f7a.efe5108","type":"json","z":"e479f0d4.3a86b","name":"","property":"payload","action":"","pretty":false,"x":730,"y":400,"wires":[["4412e70.885af18"]]},{"id":"4412e70.885af18","type":"udp out","z":"e479f0d4.3a86b","name":"","addr":"192.168.0.255","iface":"","port":"24558","ipv":"udp4","outport":"","base64":false,"multicast":"broad","x":930,"y":400,"wires":[]},{"id":"c6afca90.4b8ab","type":"delay","z":"e479f0d4.3a86b","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":380,"wires":[["6ae9c8b1.1fb598"]]},{"id":"2c95d9c7.4545ee","type":"json","z":"e479f0d4.3a86b","name":"","property":"payload","action":"","pretty":false,"x":730,"y":480,"wires":[["e4650eea.74b538"]]},{"id":"e4650eea.74b538","type":"udp out","z":"e479f0d4.3a86b","name":"","addr":"","iface":"","port":"24557","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":890,"y":480,"wires":[]},{"id":"cb92104f.6b1d","type":"change","z":"e479f0d4.3a86b","name":"set client","rules":[{"t":"set","p":"client","pt":"msg","to":"client","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":460,"wires":[["6ae9c8b1.1fb598"]]},{"id":"23f63c4c.5716f4","type":"subflow:e479f0d4.3a86b","z":"5bd08e59.ffef9","name":"","env":[{"name":"client","type":"str","value":"wihome_go"}],"x":580,"y":460,"wires":[]},{"id":"ff43ae26.7bd57","type":"homekit-service","z":"5bd08e59.ffef9","isParent":true,"bridge":"af5fc8b4.2ec308","parentService":"","name":"Gate","serviceName":"GarageDoorOpener","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":410,"y":940,"wires":[["cbe43005.6855e8","bfe22e73.272ef"]]},{"id":"c7a9765d.1dc8d8","type":"inject","z":"5bd08e59.ffef9","name":"","topic":"","payload":"{\"foo\":\"bar\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":940,"wires":[["ff43ae26.7bd57"]]},{"id":"18d32336.c59e5d","type":"debug","z":"5bd08e59.ffef9","name":"Homekit_Out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":900,"wires":[]},{"id":"5b3ffdad.b50314","type":"ui_button","z":"5bd08e59.ffef9","name":"","group":"886a4dcd.97b18","order":20,"width":0,"height":0,"passthru":false,"label":"Set","tooltip":"","color":"","bgcolor":"#AA0000","icon":"","payload":"true","payloadType":"bool","topic":"set","x":170,"y":740,"wires":[["f721dd28.174ad8"]]},{"id":"f721dd28.174ad8","type":"function","z":"5bd08e59.ffef9","name":"","func":"if (msg.topic==\"parameter\")\n{\n    flow.set('parameter',msg.payload);\n}\nelse if (msg.topic==\"value\")\n{\n    flow.set('value',msg.payload);\n}\nelse if ((msg.topic==\"set\") && (flow.keys().indexOf(\"parameter\") > -1) && (flow.keys().indexOf(\"value\") > -1))\n{\n    parameter = flow.get(\"parameter\");\n    value = flow.get(\"value\");\n    node.warn(parameter);\n    msg.payload = {\"cmd\":\"set\"};\n    msg.payload[parameter] = value;\n    return msg;\n}","outputs":1,"noerr":0,"x":390,"y":700,"wires":[["23f63c4c.5716f4","38cfce82.f22bb2"]]},{"id":"bf92254a.826408","type":"ui_button","z":"5bd08e59.ffef9","name":"","group":"2c46ff86.a6ef68","order":1,"width":0,"height":0,"passthru":false,"label":"Target 0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"TargetDoorState\":0}","payloadType":"json","topic":"","x":200,"y":1020,"wires":[["ff43ae26.7bd57"]]},{"id":"d7023ced.9830f","type":"ui_button","z":"5bd08e59.ffef9","name":"","group":"2c46ff86.a6ef68","order":2,"width":0,"height":0,"passthru":false,"label":"Target 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"TargetDoorState\":1}","payloadType":"json","topic":"","x":200,"y":1060,"wires":[["ff43ae26.7bd57"]]},{"id":"a9745209.00eaf8","type":"ui_button","z":"5bd08e59.ffef9","name":"","group":"2c46ff86.a6ef68","order":3,"width":0,"height":0,"passthru":false,"label":"Current 0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"CurrentDoorState\":0}","payloadType":"json","topic":"","x":200,"y":1100,"wires":[["ff43ae26.7bd57"]]},{"id":"6371d8ec.9d2988","type":"ui_button","z":"5bd08e59.ffef9","name":"","group":"2c46ff86.a6ef68","order":4,"width":0,"height":0,"passthru":false,"label":"Current 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"CurrentDoorState\":1}","payloadType":"json","topic":"","x":200,"y":1140,"wires":[["ff43ae26.7bd57"]]},{"id":"f9dc33bc.f3101","type":"delay","z":"5bd08e59.ffef9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":960,"wires":[["18d32336.c59e5d","23f63c4c.5716f4","38cfce82.f22bb2"]]},{"id":"93c09e1a.a5b148","type":"ui_dropdown","z":"5bd08e59.ffef9","name":"","label":"","tooltip":"","place":"Select option","group":"886a4dcd.97b18","order":18,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"max_imotor","type":"str"},{"label":"","value":"auto_close_time","type":"str"},{"label":"","value":"open_position","type":"str"},{"label":"","value":"closed_position","type":"str"},{"label":"","value":"max_on_time","type":"str"}],"payload":"","topic":"parameter","x":190,"y":660,"wires":[["f721dd28.174ad8"]]},{"id":"633742aa.62e8fc","type":"ui_text_input","z":"5bd08e59.ffef9","name":"","label":"","tooltip":"","group":"886a4dcd.97b18","order":19,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"value","x":190,"y":700,"wires":[["f721dd28.174ad8"]]},{"id":"716e049e.22c074","type":"ui_button","z":"5bd08e59.ffef9","name":"","group":"886a4dcd.97b18","order":3,"width":"2","height":"2","passthru":false,"label":"Close","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"set\", \"state\":1}","payloadType":"json","topic":"","x":170,"y":420,"wires":[["23f63c4c.5716f4","38cfce82.f22bb2"]]},{"id":"8c0dabe9.3be448","type":"ui_button","z":"5bd08e59.ffef9","name":"","group":"886a4dcd.97b18","order":2,"width":"2","height":"2","passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"#AAAAAA","icon":"","payload":"{\"cmd\":\"set\", \"state\":0}","payloadType":"json","topic":"","x":170,"y":460,"wires":[["23f63c4c.5716f4","38cfce82.f22bb2"]]},{"id":"7ed4f8b3.b5be38","type":"ui_button","z":"5bd08e59.ffef9","name":"","group":"886a4dcd.97b18","order":1,"width":"2","height":"2","passthru":false,"label":"Open","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"set\", \"state\":-1}","payloadType":"json","topic":"","x":170,"y":500,"wires":[["23f63c4c.5716f4","38cfce82.f22bb2"]]},{"id":"19cfa89a.fbefdf","type":"ui_button","z":"5bd08e59.ffef9","name":"","group":"886a4dcd.97b18","order":11,"width":0,"height":0,"passthru":false,"label":"Status","tooltip":"","color":"","bgcolor":"#008800","icon":"","payload":"{\"cmd\":\"get_status\"}","payloadType":"json","topic":"","x":170,"y":540,"wires":[["23f63c4c.5716f4","38cfce82.f22bb2"]]},{"id":"1435edc9.9bb002","type":"ui_button","z":"5bd08e59.ffef9","name":"","group":"886a4dcd.97b18","order":12,"width":0,"height":0,"passthru":false,"label":"Parameters","tooltip":"","color":"","bgcolor":"#008800","icon":"","payload":"{\"cmd\":\"get_parameters\"}","payloadType":"json","topic":"","x":190,"y":580,"wires":[["23f63c4c.5716f4","38cfce82.f22bb2"]]},{"id":"992cbc6b.ca5e","type":"ui_button","z":"5bd08e59.ffef9","name":"","group":"886a4dcd.97b18","order":13,"width":0,"height":0,"passthru":false,"label":"Signal","tooltip":"","color":"","bgcolor":"#008800","icon":"","payload":"{\"cmd\":\"get_signal\"}","payloadType":"json","topic":"","x":170,"y":620,"wires":[["23f63c4c.5716f4","38cfce82.f22bb2"]]},{"id":"cbe43005.6855e8","type":"function","z":"5bd08e59.ffef9","name":"Stop Gate","func":"msg.payload = {\"cmd\":\"set\", \"state\":0};\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":900,"wires":[["18d32336.c59e5d","23f63c4c.5716f4","38cfce82.f22bb2"]]},{"id":"bfe22e73.272ef","type":"function","z":"5bd08e59.ffef9","name":"Open/Close Gate","func":"if (msg.payload.TargetDoorState == 0)\n{\n    msg.payload = {\"cmd\":\"set\", \"state\":-1};\n    return msg;\n}\nelse if (msg.payload.TargetDoorState == 1)\n{\n    msg.payload = {\"cmd\":\"set\", \"state\":1};\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":590,"y":960,"wires":[["f9dc33bc.f3101"]]},{"id":"f8c624b8.005e5","type":"function","z":"5bd08e59.ffef9","name":"Stop Gate","func":"if ((msg.payload.cmd==\"info\") && (msg.payload.position_percent==100))\n{\n    msg.payload = {\"CurrentDoorState\":1};\n    return msg;\n}\nelse if ((msg.payload.cmd==\"info\") && (msg.payload.position_percent==0))\n{\n    msg.payload = {\"CurrentDoorState\":0};\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":330,"y":880,"wires":[["834cff2e.de1bb","ff43ae26.7bd57"]]},{"id":"49a54da7.9e7724","type":"file","z":"5bd08e59.ffef9","name":"","filename":"go.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1090,"y":660,"wires":[[]]},{"id":"b9cbc63f.87c6b","type":"inject","z":"5bd08e59.ffef9","name":"","topic":"","payload":"{\"sdfsd\":455}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1260,"wires":[["9ed1023.5851a"]]},{"id":"c00da423.933df8","type":"function","z":"5bd08e59.ffef9","name":"","func":"msg.payload = new Date().toLocaleString() + \": \" + String(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1260,"wires":[["ab69461e.b1449"]]},{"id":"ab69461e.b1449","type":"debug","z":"5bd08e59.ffef9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":1260,"wires":[]},{"id":"9ed1023.5851a","type":"json","z":"5bd08e59.ffef9","name":"","property":"payload","action":"","pretty":false,"x":400,"y":1260,"wires":[["c00da423.933df8"]]},{"id":"38cfce82.f22bb2","type":"function","z":"5bd08e59.ffef9","name":"AddTimeStamp","func":"msg.payload = new Date().toLocaleString() + \": \" + JSON.stringify((msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":660,"wires":[["49a54da7.9e7724"]]},{"id":"5d253097.237d6","type":"ui_text","z":"5bd08e59.ffef9","group":"886a4dcd.97b18","order":9,"width":"3","height":"1","name":"","label":"closed_pos","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":320,"wires":[]},{"id":"f051687b.2f832","type":"ui_text","z":"5bd08e59.ffef9","group":"886a4dcd.97b18","order":8,"width":"3","height":"1","name":"","label":"open_pos","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":280,"wires":[]},{"id":"f18486ab.137a3","type":"function","z":"5bd08e59.ffef9","name":"info/debug decode","func":"fields = [\"open_position\", \"closed_position\", \"position\", \"position_percent\",\n          \"imotor\", \"max_imotor\", \"auto_close_time\", \"max_on_time\",\n          \"msg\"];\nmsgout = [null, null, null, null, \n          null, null, null, null,\n          null];\n\nfor (var i=0; i<fields.length; i++)\n{\n    if (((msg.payload.cmd==\"info\") || (msg.payload.cmd==\"debug\")) && (fields[i] in msg.payload))\n        msgout[i] = {payload:msg.payload[fields[i]]};\n    else\n        msgout[i] = null;\n}\n\nreturn msgout;\n\n","outputs":9,"noerr":0,"x":850,"y":380,"wires":[["f051687b.2f832"],["5d253097.237d6"],["b453a129.91ef9"],["523e8ff5.f3481"],["b5d33f07.53b28"],["c349875c.6b20b"],["da4d0eb6.2db768"],["6ab3b469.366824"],["a3d3d9fc.9f7d9"]]},{"id":"b453a129.91ef9","type":"ui_text","z":"5bd08e59.ffef9","group":"886a4dcd.97b18","order":6,"width":"3","height":"1","name":"","label":"position","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":360,"wires":[]},{"id":"7cf1f59f.5b7eac","type":"ui_button","z":"5bd08e59.ffef9","name":"","group":"886a4dcd.97b18","order":15,"width":"3","height":"1","passthru":false,"label":"Learn Open","tooltip":"","color":"","bgcolor":"#AA0000","icon":"","payload":"{\"cmd\":\"learn_open_position\"}","payloadType":"json","topic":"","x":190,"y":320,"wires":[["38cfce82.f22bb2","23f63c4c.5716f4"]]},{"id":"b750a25d.ab805","type":"ui_button","z":"5bd08e59.ffef9","name":"","group":"886a4dcd.97b18","order":16,"width":"3","height":"1","passthru":false,"label":"Learn Closed","tooltip":"","color":"","bgcolor":"#AA0000","icon":"","payload":"{\"cmd\":\"learn_closed_position\"}","payloadType":"json","topic":"","x":190,"y":360,"wires":[["38cfce82.f22bb2","23f63c4c.5716f4"]]},{"id":"523e8ff5.f3481","type":"ui_gauge","z":"5bd08e59.ffef9","name":"","group":"886a4dcd.97b18","order":4,"width":"3","height":"2","gtype":"gage","title":"% Closed","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1120,"y":400,"wires":[]},{"id":"b5d33f07.53b28","type":"ui_gauge","z":"5bd08e59.ffef9","name":"","group":"886a4dcd.97b18","order":5,"width":"3","height":"2","gtype":"gage","title":"Imotor","label":"%","format":"{{value}}","min":"-200","max":"200","colors":["#e32400","#00b601","#ca3838"],"seg1":"-100","seg2":"100","x":1110,"y":440,"wires":[]},{"id":"c349875c.6b20b","type":"ui_text","z":"5bd08e59.ffef9","group":"886a4dcd.97b18","order":7,"width":"3","height":"1","name":"","label":"max_imotor","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":480,"wires":[]},{"id":"762929b2.11cb5","type":"ui_template","z":"723e6a43.7138b4","group":"886a4dcd.97b18","name":"SVG based template","order":21,"width":"6","height":"6","format":"<style>\n\n    #tex1 {\n        font-weight:bolder;\n        font-size: 6;\n        letter-spacing: 0px;\n        fill: white;\n    }\n    \n</style>\n\n\n<svg height=\"300\" width=\"300\" >\n\n<text id=\"tex1\" x=\"10\" y=\"30\" > {{msg.payload[0]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"50\" > {{msg.payload[1]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"70\" > {{msg.payload[2]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"90\" > {{msg.payload[3]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"110\" > {{msg.payload[4]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"130\" > {{msg.payload[5]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"150\" > {{msg.payload[6]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"170\" > {{msg.payload[7]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"190\" > {{msg.payload[8]}} </text>\n<text id=\"tex1\" x=\"10\" y=\"210\" > {{msg.payload[9]}} </text>\n</svg>\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":700,"y":240,"wires":[[]]},{"id":"7746c513.306bfc","type":"function","z":"723e6a43.7138b4","name":"Create table in context","func":"let sctab = [];\nflow.set(\"sctab\", sctab);\nreturn msg;","outputs":"1","noerr":0,"x":460,"y":80,"wires":[[]]},{"id":"198f007e.24c6c8","type":"inject","z":"723e6a43.7138b4","name":"","topic":"","payload":"Start","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"5","x":250,"y":80,"wires":[["7746c513.306bfc"]]},{"id":"42324690.c467e8","type":"function","z":"723e6a43.7138b4","name":"Add word to scrolling table","func":"let pay = msg.payload;\n\n// Read scrolling table from context\nlet sctab = flow.get(\"sctab\");\n\n// Modify scrolling table by adding msg.payload as first element\nlet size = sctab.unshift(pay);\n\n// Remove last element from scrolling table\nif (size >9) sctab.pop();\n\n// Update context for scrolling text\nflow.set(\"sctab\",sctab);\n\n// Shalow copy updated scrolling table to msg.payload\nmsg.payload = [...sctab];\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":240,"wires":[["762929b2.11cb5"]]},{"id":"a3d3d9fc.9f7d9","type":"subflow:723e6a43.7138b4","z":"5bd08e59.ffef9","name":"","env":[],"x":1130,"y":600,"wires":[]},{"id":"da4d0eb6.2db768","type":"ui_text","z":"5bd08e59.ffef9","group":"886a4dcd.97b18","order":10,"width":"3","height":"1","name":"","label":"autoclose","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":520,"wires":[]},{"id":"6ab3b469.366824","type":"ui_text","z":"5bd08e59.ffef9","group":"886a4dcd.97b18","order":10,"width":"3","height":"1","name":"","label":"max_on","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":560,"wires":[]},{"id":"b3970bb2.dc4598","type":"subflow:257bd7b6.149598","z":"b45ae855.355888","name":"","env":[{"name":"client","type":"str","value":"wihomeDEV2"}],"x":630,"y":240,"wires":[]},{"id":"413cdb.b8310324","type":"subflow:219affd1.8c5b5","z":"b45ae855.355888","name":"","env":[{"name":"client","type":"str","value":"wihomeDEV2"}],"x":240,"y":240,"wires":[["6c3dfc6.1a1b604"]]},{"id":"e412feaf.a50d5","type":"comment","z":"b45ae855.355888","name":"DEV","info":"","x":250,"y":180,"wires":[]},{"id":"6c3dfc6.1a1b604","type":"homekit-service","z":"b45ae855.355888","isParent":true,"bridge":"af5fc8b4.2ec308","parentService":"","name":"WiHomeDEV2","serviceName":"Switch","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","characteristicProperties":"{}","x":440,"y":240,"wires":[["b3970bb2.dc4598"]]},{"id":"af50949b.543898","type":"comment","z":"5bd08e59.ffef9","name":"GateOpener","info":"","x":190,"y":240,"wires":[]}]